:root {
  --white: rgb(255, 255, 255);
  --grey: rgb(226, 232, 240);
  --blue: rgb(25, 146, 212);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
}

body {
  height: 100vh;
}

#wrapper {
  display: grid;
  grid-template: 80px 80px 1fr / 1fr 4fr;
  grid-template-areas:
    "top-level-heading header"
    "sidebar header"
    "sidebar main";
  height: 100%;
}

header {
  background-color: var(--white);
  grid-area: header;
}

aside,
h1,
aside a {
  background-color: var(--blue);
  color: var(--white);
}

h1 {
  grid-area: top-level-heading;
  padding: 15px 20px;
}

aside {
  grid-area: sidebar;
  padding-top: 15px;

  & a {
    text-decoration: none;
  }

  & li {
    list-style-type: none;
  }

  & ul {
    padding-left: 27px;
    display: grid;
    gap: 45px;
    font-weight: bold;

    & div {
      display: grid;
      gap: 10px;
    }
  }
}

main {
  background-color: var(--grey);
  grid-area: main;
}
